

/* Start:/local/templates/Vivon2019/components/nesterov/catalog.new.list/.default/style.css?1583292890673*/
.sl-main ul {list-style:none; overflow:hidden; margin:0; padding:0; position:relative;}
.sl-main ul li {float: left;margin: 0;padding: 0 0 0 10px;margin: 0px 0 0px 0;}

.mar10 {position:relative; margin:0 0 0 -10px;}

.images {text-align:center; display:table-cell; vertical-align:middle; border:1px solid #d1d1d1;}
/* .images img {padding:5px;} */

.sl-main {position:relative;}
.sl-main .bp, .sl-main .bn {position:absolute; top:35%; width:12px; display:block; text-decoration:none; z-index:10; margin-top:-17px;}
.sl-main .bp {left:12px;}
.sl-main .bn {right:12px;}

.sl-name {color:#f28801; line-height:20px; font-size:10px; text-align: center;}

.images {width:130px;}
/* End */


/* Start:/local/templates/Vivon2019/components/nesterov/catalog.sale.list/.default/style.css?1583292890735*/
.sl-main ul {list-style:none; overflow:hidden; margin:0; padding:0; position:relative;}
.sl-main ul li {float: left;margin: 0;padding: 0 0 0 10px;margin: 0px 0 0px 0;}

.mar10 {position:relative; margin:0 0 0 -10px;}

.images {text-align:center; display:table-cell; vertical-align:middle; border:1px solid #d1d1d1;}
/* .images img {padding:5px;} */

.sl-main {position:relative;}
.sl-main .bp, .sl-main .bn {position:absolute; top:35%; width:12px; display:block; text-decoration:none; z-index:10; margin-top:-17px;}
.sl-main .bp {left:12px;}
.sl-main .bn {right:12px;}

.sl-name {color:#f28801; line-height:20px; font-size:10px; text-align: center;}

.images {width:130px;}

.price s{
	text-decoration: line-through;
	color: #ACA29C;
}
/* End */


/* Start:/local/templates/Vivon2019/components/bitrix/news.list/faq-main-page/style.css?1583292890435*/
.mp-news-list {padding:3px 0 6px 0;}
.mp-news-item {padding:16px 0 5px 0; background:url(/local/templates/Vivon2019/components/bitrix/news.list/faq-main-page/images/sep2.png) 1px top repeat-x; font-size:12px; line-height:14px;}
.mp-news-list .mp-news-item:first-child {padding-top:0; background:none;}
.mp-news-date {font-size:10px; font-weight:bold; color:#006a7f; background:url(/local/templates/Vivon2019/components/bitrix/news.list/faq-main-page/images/mark-news.jpg) left 1px no-repeat; padding:0 0 0 16px; position:relative; top:1px;}
.mp-news-name a {color:#00afcf;}
/* End */
/* /local/templates/Vivon2019/components/nesterov/catalog.new.list/.default/style.css?1583292890673 */
/* /local/templates/Vivon2019/components/nesterov/catalog.sale.list/.default/style.css?1583292890735 */
/* /local/templates/Vivon2019/components/bitrix/news.list/faq-main-page/style.css?1583292890435 */
