<div id="popup_product" class="popup">
	<div class="popup-product">
		<div class="popup-product-img">
			<img src="./img/100.jpg" alt="">
		</div>
		<div class="popup-product-text">
			<div class="popup-product-text-message"><i class="product-kit-ico active"></i> <span>Товар добавлен
					в корзину</span></div>
			<div class="popup-product-text-name">Тумба под раковину Лагуна 60 прямая белая
			</div>
			<div class="popup-product-text-price">
				6050 <i class="fa fa-rub"></i>
			</div>
			<div class="popup-product-text-button">
				<a href="/" class="gray-button">Продолжить покупки</a>
				<a href="/personal/cart/" class="button order-button">Оформить заказ</a>
			</div>
		</div>
	</div>
</div>
<div id="cities-list" class="clearfix popup">
	<div class="clearfix">
		<ul>
			<li class="letter-title">А</li>
			<li id="bx_3619765572_365780"><a href="#" class="city" id="365780">Архангельск&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365781"><a href="#" class="city" id="365781">Астрахань&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
		</ul>
		<ul>
			<li class="letter-title">Б</li>
			<li id="bx_3619765572_365773"><a href="#" class="city" id="365773">Барнаул&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365782"><a href="#" class="city" id="365782">Белгород&nbsp;&nbsp;<i
						class="fa fa-check" style=""></i></a></li>
			<li id="bx_3619765572_365783"><a href="#" class="city" id="365783">Благовещенск&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365784"><a href="#" class="city" id="365784">Брянск&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
		</ul>
		<ul>
			<li class="letter-title">В</li>
			<li id="bx_3619765572_365785"><a href="#" class="city" id="365785">В. Новгород&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365779"><a href="#" class="city" id="365779">Владивосток&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365786"><a href="#" class="city" id="365786">Владикавказ&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365787"><a href="#" class="city" id="365787">Владимир&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365788"><a href="#" class="city" id="365788">Волгоград&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365789"><a href="#" class="city" id="365789">Вологда&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365790"><a href="#" class="city" id="365790">Воронеж&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
		</ul>
		<ul>
			<li class="letter-title">Г</li>
			<li id="bx_3619765572_365778"><a href="#" class="city" id="365778">Горно-Алтайск&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365791"><a href="#" class="city" id="365791">Грозный&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
		</ul>
		<ul>
			<li class="letter-title">Е</li>
			<li id="bx_3619765572_365792"><a href="#" class="city" id="365792">Екатеринбург&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
		</ul>
	</div>
	<div class="clearfix">
		<ul>
			<li class="letter-title">И</li>
			<li id="bx_3619765572_365793"><a href="#" class="city" id="365793">Иваново&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365795"><a href="#" class="city" id="365795">Ижевск&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365794"><a href="#" class="city" id="365794">Иркутск&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
		</ul>
		<ul>
			<li class="letter-title">К</li>
			<li id="bx_3619765572_365776"><a href="#" class="city" id="365776">Казань&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365796"><a href="#" class="city" id="365796">Калининград&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365797"><a href="#" class="city" id="365797">Калуга&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365775"><a href="#" class="city" id="365775">Кемерово&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365798"><a href="#" class="city" id="365798">Киров&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365799"><a href="#" class="city" id="365799">Кострома&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365802"><a href="#" class="city" id="365802">Краснодар&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365803"><a href="#" class="city" id="365803">Красноярск&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365800"><a href="#" class="city" id="365800">Курган&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365801"><a href="#" class="city" id="365801">Курск&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
		</ul>
		<ul>
			<li class="letter-title">М</li>
			<li id="bx_3619765572_365804"><a href="#" class="city" id="365804">Махачкала&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365771"><a href="#" class="city" id="365771">Москва&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365805"><a href="#" class="city" id="365805">Мурманск&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
		</ul>
		<ul>
			<li class="letter-title">Н</li>
			<li id="bx_3619765572_365777"><a href="#" class="city" id="365777">Н. Новгород&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365806"><a href="#" class="city" id="365806">Нальчик&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365774"><a href="#" class="city" id="365774">Новосибирск&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
		</ul>
		<ul>
			<li class="letter-title">О</li>
			<li id="bx_3619765572_365808"><a href="#" class="city" id="365808">Омск&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365807"><a href="#" class="city" id="365807">Орёл&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365809"><a href="#" class="city" id="365809">Оренбург&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
		</ul>
	</div>
	<div class="clearfix">
		<ul>
			<li class="letter-title">П</li>
			<li id="bx_3619765572_365810"><a href="#" class="city" id="365810">Пенза&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365811"><a href="#" class="city" id="365811">Пермь&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365812"><a href="#" class="city" id="365812">Петрозаводск&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365813"><a href="#" class="city" id="365813">Псков&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
		</ul>
		<ul>
			<li class="letter-title">Р</li>
			<li id="bx_3619765572_365814"><a href="#" class="city" id="365814">Ростов-на-Дону&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365815"><a href="#" class="city" id="365815">Рязань&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
		</ul>
		<ul>
			<li class="letter-title">С</li>
			<li id="bx_3619765572_365816"><a href="#" class="city" id="365816">Самара&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365772"><a href="#" class="city" id="365772">Санкт-Петербург&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365817"><a href="#" class="city" id="365817">Саратов&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365818"><a href="#" class="city" id="365818">Севастополь&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365819"><a href="#" class="city" id="365819">Симферополь&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365820"><a href="#" class="city" id="365820">Смоленск&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365821"><a href="#" class="city" id="365821">Ставрополь&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
		</ul>
		<ul>
			<li class="letter-title">Т</li>
			<li id="bx_3619765572_365822"><a href="#" class="city" id="365822">Тамбов&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365823"><a href="#" class="city" id="365823">Тверь&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365824"><a href="#" class="city" id="365824">Томск&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365825"><a href="#" class="city" id="365825">Тула&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
			<li id="bx_3619765572_365826"><a href="#" class="city" id="365826">Тюмень&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
		</ul>
		<ul>
			<li class="letter-title">У</li>
			<li id="bx_3619765572_365828"><a href="#" class="city" id="365828">Улан-Удэ&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365827"><a href="#" class="city" id="365827">Ульяновск&nbsp;&nbsp;<i
						class="fa fa-check" style="display:none;"></i></a></li>
			<li id="bx_3619765572_365829"><a href="#" class="city" id="365829">Уфа&nbsp;&nbsp;<i class="fa fa-check"
						style="display:none;"></i></a></li>
		</ul>
	</div>
	<div class="clearfix"> </div>
</div>
<div id="popup_oneclick" class="popup">
	<div class="popup-oneclick">
		<div class="popup-oneclick-title">Купить в один клик</div>
		<div class="popup-oneclick-text">Пожалуйста, укажите номер вашего телефона<br>мы свяжемся с вами в
			ближайшее время.</div>
		<div class="popup-oneclick-mess"></div>
		<div class="popup-oneclick-control">
			<div class="popup-oneclick-input form-group">
				<input type="text" name="phone" id="popup-oneclick-phone">
				<div class="bx_field_error"></div>
			</div>
			<div class="popup-oneclick-button">
				<button class="button order-button">Оформить заказ</button>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div id="popup_callback" class="popup">
	<div class="popup-oneclick">
		<div class="popup-oneclick-title">Заказать обратный звонок</div>
		<div class="popup-oneclick-text">Пожалуйста, укажите номер вашего телефона<br>мы свяжемся с вами в
			ближайшее время.</div>
		<div class="popup-oneclick-mess"></div>
		<div class="popup-oneclick-control">
			<div class="popup-oneclick-input">
				<input type="text" name="phone" id="popup-callback-phone">
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="footer bg-sky-dark">
	<div class="footer-inner-container footer-rows">
		<div class="footer-row-item footer-row-top">
			<div class="logo-bottom">
				<a href="/">
					<img src="./new/logo-bottom-150.png" alt="">
				</a>
			</div>
		</div>
		<div class="footer-row-item footer-row-middle">
			<div class="footer-cols-wrapper">
				<ul class="footer-cols">
					<li class="footer-cols-item col-1">
						<div class="work-time">
							<ul class="work-time-list">
								<li class="work-time-list-item">
									Работаем без выходных<br>
									С 9:00 до 20:00
								</li>
							</ul>
						</div>
						<div class="phones">
							<ul class="phone-list">
								<li class="phone-list-item phone">
									<a href="tel:+74956470084">8 495 <b>647 00 84</b></a>
								</li>
								<li class="phone-list-item phone">
									<a href="tel:+78005556205">8 800 <b>555 62 05</b></a>
								</li>
							</ul>
						</div>
						<div class="email">
							<ul class="email-list">
								<li class="email-list-item email">
									Email: <a href="mailto:ask@vivon.ru">ask@vivon.ru</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="footer-cols-item col-2 menu-footer">
						<ul class="footer-menu footer-col-menu">
							<li class="footer-col-menu-item">
								<a href="/polzovatelskoe-soglashenie/" class="footer-col-menu-item-link ">Соглашение</a>
							</li>
							<li class="footer-col-menu-item">
								<a href="/delivery/" class="footer-col-menu-item-link ">Доставка</a>
							</li>
							<li class="footer-col-menu-item">
								<a href="/catalog/" class="footer-col-menu-item-link ">Каталог</a>
							</li>
							<li class="footer-col-menu-item">
								<a href="/about/" class="footer-col-menu-item-link ">Контакты</a>
							</li>
							<li class="footer-col-menu-item">
								<a href="/pay/" class="footer-col-menu-item-link ">Способы
									оплаты</a>
							</li>
						</ul>
					</li>
					<li class="footer-cols-item col-3 menu-footer">
						<ul class="footer-menu footer-col-menu">
							<li class="footer-col-menu-item">
								<a href="/service/" class="footer-col-menu-item-link ">Установка
									оборудования</a>
							</li>
							<li class="footer-col-menu-item">
								<a href="/help/order/" class="footer-col-menu-item-link ">Обмен и возврат</a>
							</li>
							<li class="footer-col-menu-item">
								<a href="/bay/" class="footer-col-menu-item-link ">Заказать
									легко</a>
							</li>
							<li class="footer-col-menu-item">
								<a href="/search/map.php" class="footer-col-menu-item-link ">Карта сайта</a>
							</li>
							<li class="footer-col-menu-item">
								<a href="/idei-dlya-doma/" class="footer-col-menu-item-link ">Идеи и советы для
									дома</a>
							</li>
						</ul>
					</li>
					<li class="footer-cols-item col-4">
						<div class="pay-systems">
							<ul class="pay-system-list">
								<li class="pay-system-list-item"><img src="./new/visa-63.png" alt="VISA"></li>
								<li class="pay-system-list-item"><img src="./new/mastercard-51.png" alt="MasterCard">
								</li>
								<li class="pay-system-list-item"><img src="./new/sberbank-117.png" alt="Sberbank"></li>
								<li class="pay-system-list-item"><img src="./new/qiwi-59.png" alt="QIWI"></li>
							</ul>
						</div>
					</li>
					<li class="footer-cols-item col-5">
						<div class="social-icons">
							<p class="social-icons-text copyright">
								Торговые марки принадлежат их владельцам. Копирование частей сайта без
								разрешения владельца авторских прав запрещено.
							</p>
							<p class="social-icons-text text">
								© 2009 – 2021 <a href="/">vivon.ru</a> Все права защищены.
							</p>
							<div class="social-icons-inner">
								<span class="social-icons-title">Мы в соцсетях: </span>
								<ul class="social-icons-list">
									<li class="social-icons-list-item"><a href="https://vk.com/vivon_ru" target="_blank"
											rel="nofollow" class="social-icon-ar vk">
											<img alt="Мы в контакте" src="./new/vk-social-logotype.svg">
										</a>
									</li>
									<li class="social-icons-list-item"><a href="https://www.facebook.com/VIVON.RU"
											target="_blank" rel="nofollow" class="social-icon-ar fb">
											<img alt="Мы в фейсбук" src="./new/facebook-logo-button.svg">
										</a>
									</li>
									<li class="social-icons-list-item"><a href="https://ok.ru/vivon.santehnika"
											target="_blank" rel="nofollow" class="social-icon-ar vk">
											<img alt="Мы в одноклассниках" src="./new/odnoklassniki-logo-w.svg">
										</a>
									</li>
									<li class="social-icons-list-item"><a href="https://twitter.com/VIVON_RU"
											target="_blank" rel="nofollow" class="social-icon-ar vk">
											<img alt="Мы в твиттере" src="./new/twitter.svg">
										</a>
									</li>
									<li class="social-icons-list-item"><a
											href="https://www.youtube.com/c/vivonru_santehnika" target="_blank"
											rel="nofollow" class="social-icon-ar vk">
											<img alt="Мы на youtube" src="./new/youtube-symbol.svg">
										</a>
									</li>
									<li class="social-icons-list-item"><a href="https://www.instagram.com/vivon_ru/"
											target="_blank" rel="nofollow" class="social-icon-ar vk">
											<img alt="Мы в инстаграмм" src="./new/instagram-logo.svg">
										</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="footer-row-item footer-row-bottom">
		</div>
	</div>
	<div itemscope="" itemtype="https://schema.org/Organization" style="display:none;">
		<meta itemprop="name" content="VIVON.RU - Интернет магазин сантехники в Москве.">
		<link itemprop="url" href="/">
		<link itemprop="logo" href="./new/vivon_logo_2017.png">
		<meta itemprop="description"
			content="Интернет магазин сантехники VIVON.RU - душевые кабины, акриловые ванны, мебель для ванной комнаты. Продажа недорогой сантехники в Москве.">
		<meta itemprop="email" content="ask@vivon.ru">
		<div itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
			<meta itemprop="addressLocality" content="Москва, Россия">
			<meta itemprop="postalCode" content="117545">
			<meta itemprop="streetAddress" content="ул.Дорожная, дом 1, корпус 3Б, этаж 2, комн №1">
		</div>
		<meta itemprop="telephone" content="+7-495-647-00-84">
		<meta itemprop="telephone" content="+7-800-555-62-05">
		<link itemprop="sameAs" href="https://vk.com/vivon_ru">
		<link itemprop="sameAs" href="https://www.facebook.com/VIVON.RU">
		<link itemprop="sameAs" href="https://ok.ru/vivon.santehnika">
		<link itemprop="sameAs" href="https://twitter.com/VIVON_RU">
		<link itemprop="sameAs" href="https://www.youtube.com/c/vivonru_santehnika">
		<link itemprop="sameAs" href="https://www.instagram.com/vivon_ru/">
		<form itemprop="potentialAction" itemscope="" itemtype="https://schema.org/SearchAction">
			<meta itemprop="target" content="/search/?q={search_term_string}">
			<input itemprop="query" type="text" required="" name="search_term_string">
		</form>
	</div>
	<div class="info" style="position: absolute;bottom: 0px;z-index: -1000;visibility: hidden;">
		<!--Yandex.Metrika counter new -->
		<!-- Yandex.Metrika counter -->
		<!--LiveInternet counter-->

		<a href="http://www.liveinternet.ru/click" target="_blank"><img src="./new/hit" alt="" title="LiveInternet"
				border="0" width="31" height="31"></a>
		<!--/LiveInternet-->
		<!-- Код тега ремаркетинга Google. Часть 1 -->
		<!-- Код тега ремаркетинга Google. Часть 2 -->
		<noscript>
			<div style="display:inline;">
				<img height="1" width="1" style="border-style:none;" alt=""
					src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/823256499/?value=0&amp;guid=ON&amp;script=0" />
			</div>
		</noscript>
	</div>
</div>
<div id="toTop" style="display: none;">
	<i class="fa fa-chevron-circle-up"></i>
</div>
</div>

<script type="text/javascript" src="./new/jquery-2.1.3.min.min.js"></script>
<script type="text/javascript" src="./new/es5-shims.min.js"></script>
<script type="text/javascript" src="./new/share.js"></script>
<script type="text/javascript" src="./new/api.js"></script>
<script type="text/javascript" src="./js/vendor.js"></script>
<script type="text/javascript" src="./new/main-old2.js"></script>
<script type="text/javascript" src="./new/main-old.js"></script>
<script type="text/javascript" src="./new/kernel_kombox.js"></script>
<script type="text/javascript" src="./new/catalog.js"></script>
<script type="text/javascript" src="./new/tovar.js"></script>
<script type="text/javascript" src="./new/cart.js"></script>
<script type="text/javascript" src="./new/order.js"></script>
<script
	type="text/javascript">var _ba = _ba || []; _ba.push(["aid", "67c927001d6eed349835084059bcc85a"]); _ba.push(["host", "www.vivon.ru"]); (function () { var ba = document.createElement("script"); ba.type = "text/javascript"; ba.async = true; ba.src = (document.location.protocol == "https:" ? "https://" : "http://") + "bitrix.info/ba.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ba, s); })();</script>
<script type="text/javascript">
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() != 0) {
				$('#toTop').fadeIn();
			} else {
				$('#toTop').fadeOut();
			}

			if ($(this).scrollTop() > ($('.header').offset().top + 77)) {
				$('.top-line').addClass('top-line-fixed');
			}
			else {
				$('.top-line').removeClass('top-line-fixed');
			}
		});
		$('#toTop').click(function () {
			$('body,html').animate({ scrollTop: 0 }, 800);
		});
	});
</script>
<script async="" src="./new/js.js"></script>



<script type="text/javascript">
	$(function () {
		$('.slider-track').bxSlider({
			auto: true,
			pause: 6000,
			prevText: '<img src="https://s62846.cdn.ngenix.net/local/templates/Vivon2019/img/slider-nav-arrow-prev.png">',
			nextText: '<img src="https://s62846.cdn.ngenix.net/local/templates/Vivon2019/img/slider-nav-arrow-next.png">',
			prevSelector: '.slider-nav-prev',
			nextSelector: '.slider-nav-next',
			autoHover: true,
			stopAutoOnClick: true,
			//pager: false,
			pagerCustom: '#slider-nav-dots',
			// dots: false,

			onSlideBefore: function (slideElement, oldIndex, newIndex) {

				var dots_top = -3 - (newIndex * 18);

				// 0 - -3px
				// 1 - -21px
				// 2 - -39px
				// 3 - -57px
				$('.slider-nav-dots').animate(
					{
						top: dots_top
					},
					0,
					function () {
						// Animation complete.
					}
				);
			},
			onSlideAfter: function (slideElement, oldIndex, newIndex) {
				this.pause = 10000;
			}
		});


		$(document).on("click", ".slider-track .slider-item", function () {

			if ($(this).data("data-href") && $(this).data("data-href").length) {
				window.location.href = $(this).data("data-href");
			}
		});


	});
</script>
<script>
	$(document).ready(function () {
		$(".spincrement").spincrement({
			thousandSeparator: " ",
			from: 1111,
			duration: 2000
		});
	});
</script>
<script type="text/javascript">
	$(document).ready(function () {
		// var h = 0;
		// $('.sl ul li div.images').each(function() {
		//     if($(this).height() > h) {
		//         h = $(this).height();
		//     }
		// })

		// $('.sl ul li div.images').height(h);

		$(function () {
			// $("#cnew").jCarouselLite({
			//     btnNext: "#next_cnew",
			//     btnPrev: "#prew_cnew",
			//     speed: 1000,
			//     scroll: 4,
			//     visible: 4,
			//     responsive: true,
			//     circular: false,
			//     swipe: true
			// });

			// $('.carousel-content-wrapper .carousel-content').width('10000px');

			var cnew = $('#cnew .carousel-content');
			cnew.owlCarousel({
				items: 5,
				//slideBy: 3,
				scrollPerPage: true,
				// autoWidth: true,
				// itemElement: 'li',
				// nestedItemSelector: 'carousel-item',
				itemsDesktop: [1430, 5],
				//itemsDesktopSmall     : [1140,4],
				// itemsTablet       : [768,4],
				// itemsMobile       : [479,4],
				// loop: true,
				// speed: 1000,
				// margin: 10.5,
				// mouseDrag : true,
				navigation: false,
				nav: true,
				slideSpeed: 600,
				// navText: ['','']
				// navContainer: '.cb-carousel-nav'
				// scrollPerPage: true,
				// autoHeight: true
			});

			var owlcnew = cnew.data('owlCarousel');

			$('#prew_cnew').click(function () {
				//cnew.trigger('prev.cnew.carousel');
				// $('#cnew .owl-prev').click();

				owlcnew.prev();
			});

			$('#next_cnew').click(function () {
				//console.log(cnew);
				//cnew.trigger('next.cnew.carousel');
				// $('#cnew .owl-next').click();

				owlcnew.next();
			});
		});


	})
</script>
<script type="text/javascript">
	$(document).ready(function () {
		// var h = 0;
		// $('.sl ul li div.images').each(function() {
		//     if($(this).height() > h) {
		//         h = $(this).height();
		//     }
		// })

		// $('.sl ul li div.images').height(h);

		$(function () {
			// $("#chit").jCarouselLite({
			//     btnNext: "#next_chit",
			//     btnPrev: "#prew_chit",
			//     speed: 1000,
			//     scroll: 4,
			//     visible: 4,
			//     responsive: true,
			//     circular: false,
			//     swipe: true
			// });

			// $('.carousel-content-wrapper .carousel-content').width('10000px');

			var chit = $('#chit .carousel-content');
			chit.owlCarousel({
				items: 5,
				//slideBy: 3,
				scrollPerPage: true,
				// autoWidth: true,
				// itemElement: 'li',
				// nestedItemSelector: 'carousel-item',
				itemsDesktop: [1430, 5],
				//itemsDesktopSmall     : [1140,4],
				// itemsTablet       : [768,4],
				// itemsMobile       : [479,4],
				// loop: true,
				// speed: 1000,
				// margin: 10.5,
				// mouseDrag : true,
				navigation: false,
				nav: true,
				slideSpeed: 600,
				// navText: ['','']
				// navContainer: '.cb-carousel-nav'
				// scrollPerPage: true,
				// autoHeight: true
			});

			var owlchit = chit.data('owlCarousel');

			$('#prew_chit').click(function () {
				//chit.trigger('prev.chit.carousel');
				// $('#chit .owl-prev').click();

				owlchit.prev();
			});

			$('#next_chit').click(function () {
				//console.log(chit);
				//chit.trigger('next.chit.carousel');
				// $('#chit .owl-next').click();

				owlchit.next();
			});
		});


	})
</script>
<script type="text/javascript">
	$(document).ready(function () {

		$(function () {
			var csale = $('#csale .carousel-content');
			csale.owlCarousel({
				items: 6,
				// slideBy: 3,
				scrollPerPage: true,
				// autoWidth: true,
				// itemElement: 'li',
				// nestedItemSelector: 'carousel-item',
				itemsDesktop: [1430, 5],
				// itemsDesktopSmall : [1140,4],
				// itemsTablet : [768,4],
				// itemsMobile : [479,4],
				// loop: true, // speed: 1000, // margin: 10.5,
				// mouseDrag : true,
				navigation: false, nav: true,
				slideSpeed: 600,
				// navText: ['','']
				// navContainer: '.cb-carousel-nav'
				// scrollPerPage: true,
				// autoHeight: true
			});

			var owlcsale = csale.data('owlCarousel');

			$('#prew_csale').click(function () {
				owlcsale.prev();
			});

			$('#next_csale').click(function () {
				owlcsale.next();
			});
		});


	})
</script>
<script type="text/javascript">
	jQuery(document).ready(function () {
		$('.catalog-info-text .read-more').bind("click",
			function (e) {
				$('.catalog-info-text-short').hide();
				$('.catalog-info-text-full').show();
				return false;
			});

		$('.hide-text').bind("click",
			function (e) {
				$('.catalog-info-text-full').hide();
				$('.catalog-info-text-short').show();
				return false;
			});
	});
</script>
<script type="text/javascript">
	$(function () {
		var faqOwl = $('#carousel-content-faq-wrapper .carousel-content');
		faqOwl.owlCarousel({
			items: 3,
			//slideBy: 3,
			scrollPerPage: true,
			responsive: {
				0: {
					items: 3
				}
			},
			itemsDesktop: [1280, 3],
			//itemsDesktopSmall     : [979,3],
			navigation: false,
			nav: true,
			slideSpeed: 600,
		});

		var owlfaqOwl = faqOwl.data('owlCarousel');
		$('#prew_faqOwl').click(function () {
			owlfaqOwl.prev();
		});
		$('#next_faqOwl').click(function () {
			owlfaqOwl.next();
		});
	});
</script>
<script type="text/javascript" src="./new/ld.js" async="true"></script>
<script type="text/javascript" src="./js/main.js" async="true"></script>

<div class="title-search-result"></div>
</body>

</html>