<footer class="footer">
	<div class="container">
		<div class="footer-phone">
			<a href="tel:+74956470084" class="btn btn-border">+7 495 647 00 84</a>
		</div>
		<div class="footer-phone">
			<a href="tel:+78005556205" class="btn btn-border">+8 800 555 62 05</a>
		</div>
		<a href="mailto:ask@vivon.ru">ask@vivon.ru</a>
		<div class="footer-nav">
			<ul class="footer-nav-list">
				<li class="footer-nav-item">
					<a href="/about/" class="footer-nav-link">Контакты</a>
				</li>
				<li class="footer-nav-item">
					<a href="/ustanovka/" class="footer-nav-link">Установка</a>
				</li>
				<li class="footer-nav-item">
					<a href="/dostavka/" class="footer-nav-link">Условия доставки</a>
				</li>
				<li class="footer-nav-item">
					<a href="/pay/" class="footer-nav-link">Способы оплаты</a>
				</li>
				<li class="footer-nav-item">
					<a href="/samovyvoz/" class="footer-nav-link">Самовывоз</a>
				</li>
				<li class="footer-nav-item">
					<a href="/o-kompanii/" class="footer-nav-link">О магазине</a>
				</li>
				<li class="footer-nav-item">
					<a href="/help/order/" class="footer-nav-link">Обмен и возврат</a>
				</li>
				<li class="footer-nav-item">
					<a href="/shourum-pod-zakaz/" class="footer-nav-link">Шоу-рум под
						заказ</a>
				</li>
				<li class="footer-nav-item">
					<a href="/idei-dlya-doma/" class="footer-nav-link">Идеи и советы для
						дома</a>
				</li>
				<li class="footer-nav-item">
					<a href="/polzovatelskoe-soglashenie/" class="footer-nav-link">Пользовательское
						соглашение</a>
				</li>
			</ul>
		</div>
		<div class="footer-social">
			<ul class="footer-social-list">
				<li class="footer-social-item">
					<a href="http://vk.com/vivon_ru" target="_blank" rel="nofollow" class="footer-social-link">
						<svg alt="Мы в контакте" class="icon icon-vk">
							<use xlink:href="./new-mob/symbol-defs.svg#icon-vk"></use>
						</svg>
					</a>
				</li>
				<li class="footer-social-item">
					<a href="https://ok.ru/vivon.santehnika" target="_blank" rel="nofollow" class="footer-social-link">
						<svg alt="Мы в одноклассниках" class="icon icon-odnoklassniki">
							<use xlink:href="./new-mob/symbol-defs.svg#icon-odnoklassniki">
							</use>
						</svg>
					</a>
				</li>
				<li class="footer-social-item">
					<a href="https://www.facebook.com/VIVON.RU" target="_blank" rel="nofollow"
						class="footer-social-link">
						<svg alt="Мы в фейсбук" class="icon icon-facebook">
							<use xlink:href="./new-mob/symbol-defs.svg#icon-facebook">
							</use>
						</svg>
					</a>
				</li>
				<li class="footer-social-item">
					<a href="https://twitter.com/VIVON_RU" target="_blank" rel="nofollow" class="footer-social-link">
						<svg alt="Мы в твиттере" class="icon icon-twitter">
							<use xlink:href="./new-mob/symbol-defs.svg#icon-twitter">
							</use>
						</svg>
					</a>
				</li>
				<li class="footer-social-item">
					<a href="https://m.youtube.com/c/vivonru_santehnika" target="_blank" rel="nofollow"
						class="footer-social-link">
						<svg alt="Мы на youtube" class="icon icon-youtube-logo">
							<use xlink:href="./new-mob/symbol-defs.svg#icon-youtube-logo">
							</use>
						</svg>
					</a>
				</li>
				<li class="footer-social-item">
					<a href="https://zen.yandex.ru/id/5d664fcd6d29c100ad8e6b32" target="_blank" rel="nofollow"
						class="footer-social-link">
						<svg alt="Мы в Яндекс.Дзен" class="icon zen-icon">
							<use xlink:href="./new-mob/symbol-defs2.svg#zen-icon"></use>
						</svg>
					</a>
				</li>
				<li class="footer-social-item">
					<a href="https://www.instagram.com/vivon_ru/" target="_blank" rel="nofollow"
						class="footer-social-link">
						<svg alt="Мы в инстаграмм" class="icon icon-instagram">
							<use xlink:href="./new-mob/symbol-defs.svg#icon-instagram">
							</use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
		<div class="footer-link">
			<a href=/?desktop=true">полная версия сайта</a>
		</div>
		<div class="footer-logo">
			<a href="/">
				<svg class="icon icon-logo_white">
					<use xlink:href="./new-mob/symbol-defs.svg#icon-logo_white"></use>
				</svg>
			</a>
		</div>
		<div class="footer-copyright">
			© 2009 - 2021 vivon.ru
		</div>
	</div>

</footer>
</div>

<script type="text/javascript" src="./new-mob/kernel_main.js"></script>
<script
	src="./new-mob/core_db.min.js,q14978201145062+core_frame_cache.min.js,q147017638011191.pagespeed.jc.AlXNhQdttL.js"></script>
<script type="text/javascript"
	src="./new-mob/template_2b6c3a4c70ace5b36726172df16e51bb.js,q1630934174287449.pagespeed.jm.q1cG_odisM.js"></script>
<script
	type="text/javascript">var _ba = _ba || []; _ba.push(["aid", "67c927001d6eed349835084059bcc85a"]); _ba.push(["host", "m.vivon.ru"]); (function () { var ba = document.createElement("script"); ba.type = "text/javascript"; ba.async = true; ba.src = (document.location.protocol == "https:" ? "https://" : "http://") + "bitrix.info/ba.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ba, s); })();</script>
<script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-P9DQCG8');</script>
<script
	type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter6071065 = new Ya.Metrika({ id: 6071065, webvisor: true, clickmap: true, accurateTrackBounce: true, ecommerce: "dataLayer", ut: "noindex", params: window.yaParams || {} }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script>
<script async="" src="./new-mob/js"></script>
<script type="text/javascript" src="./new-mob/ld.js" async="true"></script>

<div class="title-search-result"></div>
</body>

</html>