<footer class="footer">
	<div class="container">
		<div class="footer-phone">
			<a href="tel:+74956470084" class="btn btn-border">+7 495 647 00 84</a>
		</div>
		<div class="footer-phone">
			<a href="tel:+78005556205" class="btn btn-border">+8 800 555 62 05</a>
		</div>
		<a href="mailto:ask@vivon.ru">ask@vivon.ru</a>
		<div class="footer-nav">
			<ul class="footer-nav-list">
				<li class="footer-nav-item">
					<a href="/about/" class="footer-nav-link">Контакты</a>
				</li>
				<li class="footer-nav-item">
					<a href="/ustanovka/" class="footer-nav-link">Установка</a>
				</li>
				<li class="footer-nav-item">
					<a href="/dostavka/" class="footer-nav-link">Условия доставки</a>
				</li>
				<li class="footer-nav-item">
					<a href="/pay/" class="footer-nav-link">Способы оплаты</a>
				</li>
				<li class="footer-nav-item">
					<a href="/samovyvoz/" class="footer-nav-link">Самовывоз</a>
				</li>
				<li class="footer-nav-item">
					<a href="/o-kompanii/" class="footer-nav-link">О магазине</a>
				</li>
				<li class="footer-nav-item">
					<a href="/help/order/" class="footer-nav-link">Обмен и возврат</a>
				</li>
				<li class="footer-nav-item">
					<a href="/shourum-pod-zakaz/" class="footer-nav-link">Шоу-рум под
						заказ</a>
				</li>
				<li class="footer-nav-item">
					<a href="/idei-dlya-doma/" class="footer-nav-link">Идеи и советы для
						дома</a>
				</li>
				<li class="footer-nav-item">
					<a href="/polzovatelskoe-soglashenie/" class="footer-nav-link">Пользовательское
						соглашение</a>
				</li>
			</ul>
		</div>
		<div class="footer-social">
			<ul class="footer-social-list">
				<li class="footer-social-item">
					<a href="http://vk.com/vivon_ru" target="_blank" rel="nofollow" class="footer-social-link">
						<svg alt="Мы в контакте" class="icon icon-vk">
							<use xlink:href="./new-mob/symbol-defs.svg#icon-vk"></use>
						</svg>
					</a>
				</li>
				<li class="footer-social-item">
					<a href="https://ok.ru/vivon.santehnika" target="_blank" rel="nofollow" class="footer-social-link">
						<svg alt="Мы в одноклассниках" class="icon icon-odnoklassniki">
							<use xlink:href="./new-mob/symbol-defs.svg#icon-odnoklassniki">
							</use>
						</svg>
					</a>
				</li>
				<li class="footer-social-item">
					<a href="https://www.facebook.com/VIVON.RU" target="_blank" rel="nofollow"
						class="footer-social-link">
						<svg alt="Мы в фейсбук" class="icon icon-facebook">
							<use xlink:href="./new-mob/symbol-defs.svg#icon-facebook">
							</use>
						</svg>
					</a>
				</li>
				<li class="footer-social-item">
					<a href="https://twitter.com/VIVON_RU" target="_blank" rel="nofollow" class="footer-social-link">
						<svg alt="Мы в твиттере" class="icon icon-twitter">
							<use xlink:href="./new-mob/symbol-defs.svg#icon-twitter">
							</use>
						</svg>
					</a>
				</li>
				<li class="footer-social-item">
					<a href="https://m.youtube.com/c/vivonru_santehnika" target="_blank" rel="nofollow"
						class="footer-social-link">
						<svg alt="Мы на youtube" class="icon icon-youtube-logo">
							<use xlink:href="./new-mob/symbol-defs.svg#icon-youtube-logo">
							</use>
						</svg>
					</a>
				</li>
				<li class="footer-social-item">
					<a href="https://zen.yandex.ru/id/5d664fcd6d29c100ad8e6b32" target="_blank" rel="nofollow"
						class="footer-social-link">
						<svg alt="Мы в Яндекс.Дзен" class="icon zen-icon">
							<use xlink:href="./new-mob/symbol-defs2.svg#zen-icon"></use>
						</svg>
					</a>
				</li>
				<li class="footer-social-item">
					<a href="https://www.instagram.com/vivon_ru/" target="_blank" rel="nofollow"
						class="footer-social-link">
						<svg alt="Мы в инстаграмм" class="icon icon-instagram">
							<use xlink:href="./new-mob/symbol-defs.svg#icon-instagram">
							</use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
		<div class="footer-link">
			<a href=/?desktop=true">полная версия сайта</a>
		</div>
		<div class="footer-logo">
			<a href="/">
				<svg class="icon icon-logo_white">
					<use xlink:href="./new-mob/symbol-defs.svg#icon-logo_white"></use>
				</svg>
			</a>
		</div>
		<div class="footer-copyright">
			© 2009 - 2021 vivon.ru
		</div>
	</div>
	<div style="display:none">
		<!--LiveInternet counter-->
		<script type="text/javascript"
			data-skip-moving="true">document.write("<a href='//www.liveinternet.ru/click' " + "target=_blank><img src='//counter.yadro.ru/hit?t44.6;r" + escape(document.referrer) + ((typeof (screen) == "undefined") ? "" : ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ? screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) + ";" + Math.random() + "' alt='' title='LiveInternet' " + "border='0' width='31' height='31'><\/a>")</script>
		<a href="https://www.liveinternet.ru/click" target="_blank"><img src="./new-mob/hit" alt="" title="LiveInternet"
				border="0" width="31" height="31"></a>
		<!--/LiveInternet-->
		<noscript>
			<div>
				<img src="//top-fwz1.mail.ru/counter?id=2941256;js=na" style="border:0;position:absolute;left:-9999px"
					alt="" />
			</div>
		</noscript>
	</div>
</footer>
</div>
<!-- Код тега ремаркетинга Google. Часть 1 -->
<!-- Код тега ремаркетинга Google. Часть 2 -->
<noscript>
	<div style="display:inline">
		<img height="1" width="1" style="border-style:none" alt=""
			src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/823256499/?value=0&amp;guid=ON&amp;script=0" />
	</div>
</noscript>
<script
	type="text/javascript">if (!window.BX) window.BX = { message: function (mess) { if (typeof mess == 'object') for (var i in mess) BX.message[i] = mess[i]; return true; } };</script>
<script
	type="text/javascript">(window.BX || top.BX).message({ 'JS_CORE_LOADING': 'Загрузка...', 'JS_CORE_NO_DATA': '- Нет данных -', 'JS_CORE_WINDOW_CLOSE': 'Закрыть', 'JS_CORE_WINDOW_EXPAND': 'Развернуть', 'JS_CORE_WINDOW_NARROW': 'Свернуть в окно', 'JS_CORE_WINDOW_SAVE': 'Сохранить', 'JS_CORE_WINDOW_CANCEL': 'Отменить', 'JS_CORE_WINDOW_CONTINUE': 'Продолжить', 'JS_CORE_H': 'ч', 'JS_CORE_M': 'м', 'JS_CORE_S': 'с', 'JSADM_AI_HIDE_EXTRA': 'Скрыть лишние', 'JSADM_AI_ALL_NOTIF': 'Показать все', 'JSADM_AUTH_REQ': 'Требуется авторизация!', 'JS_CORE_WINDOW_AUTH': 'Войти', 'JS_CORE_IMAGE_FULL': 'Полный размер' });</script>
<script
	type="text/javascript">(window.BX || top.BX).message({ 'LANGUAGE_ID': 'ru', 'FORMAT_DATE': 'DD.MM.YYYY', 'FORMAT_DATETIME': 'DD.MM.YYYY HH:MI:SS', 'COOKIE_PREFIX': 'BITRIX_SM', 'SERVER_TZ_OFFSET': '10800', 'SITE_ID': 's1', 'SITE_DIR': '/', 'USER_ID': '', 'SERVER_TIME': '1630934508', 'USER_TZ_OFFSET': '0', 'USER_TZ_AUTO': 'Y', 'bitrix_sessid': '165e295a0b90aea2c7760487685e2eb8' });</script>
<script type="text/javascript" src="./new-mob/kernel_main.js.Без названия"></script>
<script
	src="./new-mob/core_db.min.js,q14978201145062+core_frame_cache.min.js,q147017638011191.pagespeed.jc.AlXNhQdttL.js.Без названия"></script>
<script>eval(mod_pagespeed_zra8F0p_sE);</script>
<script>eval(mod_pagespeed_z6F1CWbIJb);</script>
<script
	type="text/javascript">BX.setJSList(['/bitrix/js/main/core/core.js', '/bitrix/js/main/core/core_ajax.js', '/bitrix/js/main/json/json2.min.js', '/bitrix/js/main/core/core_ls.js', '/bitrix/js/main/core/core_fx.js', '/bitrix/js/main/core/core_popup.js', '/local/templates/mobile2019/js/libs.min.js', '/local/templates/mobile2019/js/bootstrap.min.js', '/local/templates/mobile2019/js/jquery.fancybox.pack.js', '/local/templates/mobile2019/js/jquery.fancybox-buttons.js', '/local/templates/mobile2019/js/jquery.swipe.min.js', '/local/templates/mobile2019/js/mx-script.js', '/local/templates/mobile2019/js/main.js', '/bitrix/components/bitrix/search.title/script.js']);</script>
<script
	type="text/javascript">BX.setCSSList(['/bitrix/js/main/core/css/core.css', '/bitrix/js/main/core/css/core_popup.css', '/local/templates/mobile2019/css_old/bootstrap.min.css', '/local/templates/mobile2019/css/libs.min.css', '/local/templates/mobile2019/css/main.css', '/local/templates/mobile2019/css/font-awesome.min.css', '/local/templates/mobile2019/components/bitrix/search.title/visual/style.css', '/local/templates/mobile2019/components/bitrix/breadcrumb/page/style.css', '/local/templates/mobile2019/template_styles.css']);</script>
<script type="text/javascript"
	src="./new-mob/template_2b6c3a4c70ace5b36726172df16e51bb.js,q1630934174287449.pagespeed.jm.q1cG_odisM.js.Без названия"></script>
<script
	type="text/javascript">var _ba = _ba || []; _ba.push(["aid", "67c927001d6eed349835084059bcc85a"]); _ba.push(["host", "m.vivon.ru"]); (function () { var ba = document.createElement("script"); ba.type = "text/javascript"; ba.async = true; ba.src = (document.location.protocol == "https:" ? "https://" : "http://") + "bitrix.info/ba.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ba, s); })();</script>
<script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-P9DQCG8');</script>
<script
	type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter6071065 = new Ya.Metrika({ id: 6071065, webvisor: true, clickmap: true, accurateTrackBounce: true, ecommerce: "dataLayer", ut: "noindex", params: window.yaParams || {} }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script>
<script async="" src="./new-mob/js"></script>
<script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-115644525-1');</script>
<script>BX.ready(function () { new JCTitleSearch({ 'AJAX_PAGE': '/', 'CONTAINER_ID': 'search', 'INPUT_ID': 'title-search-input', 'MIN_QUERY_LEN': 2 }); });</script>
<script type="text/javascript" src="./new-mob/ld.js.Без названия" async="true"></script>
<script
	type="text/javascript">window.criteo_q = window.criteo_q || []; window.criteo_q.push({ event: "setAccount", account: 40898 }, { event: "setEmail", email: "" }, { event: "setSiteType", type: "m" }, { "event": "viewHome" });</script>
<script
	type="text/javascript">var _tmr = window._tmr || (window._tmr = []); _tmr.push({ id: '2941256', type: "pageView", start: (new Date()).getTime() }); (function (d, w, id) { if (d.getElementById(id)) return; var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id; ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js"; var f = function () { var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s); }; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "topmailru-code");</script>
<script
	type="text/javascript">var google_tag_params = { ecomm_prodid: "", ecomm_pagetype: "home", ecomm_totalvalue: "" };</script>
<script
	type="text/javascript">var google_conversion_id = 823256499; var google_custom_params = window.google_tag_params; var google_remarketing_only = true;</script>
<script type="text/javascript" src="./new-mob/f(1).txt"></script>
<script data-pagespeed-no-defer="">(function () {
		window.pagespeed = window.pagespeed || {}; var f = window.pagespeed; function h(c, a, e, b) { this.f = c; this.a = a; this.b = e; this.g = b } f.beaconUrl = "";
		function k(c) {
			var a = c.f, e = window.mod_pagespeed_start, b = Number(new Date) - e, a = a + (-1 == a.indexOf("?") ? "?" : "&"), a = a + "ets=" + ("load" == c.a ? "load:" : "unload:"); if ("beforeunload" != c.a || !window.mod_pagespeed_loaded) {
				a = a + b + ("&r" + c.a + "="); if (window.performance) {
					var b = window.performance.timing, d = b.navigationStart, g = b.requestStart, a = a + (b[c.a + "EventStart"] - d), a = a + ("&nav=" + (b.fetchStart - d)), a = a + ("&dns=" + (b.domainLookupEnd - b.domainLookupStart)), a = a + ("&connect=" + (b.connectEnd - b.connectStart)), a = a + ("&req_start=" + (g - d)) +
						("&ttfb=" + (b.responseStart - g)), a = a + ("&dwld=" + (b.responseEnd - b.responseStart)), a = a + ("&dom_c=" + (b.domContentLoadedEventStart - d)); window.performance.navigation && (a += "&nt=" + window.performance.navigation.type); d = -1; b.msFirstPaint ? d = b.msFirstPaint : window.chrome && window.chrome.loadTimes && (d = Math.floor(1E3 * window.chrome.loadTimes().firstPaintTime)); d -= g; 0 <= d && (a += "&fp=" + d)
				} else a += b; f.getResourceTimingData && window.parent == window && (a += f.getResourceTimingData()); a += window.parent != window ? "&ifr=1" : "&ifr=0"; "load" ==
					c.a && (window.mod_pagespeed_loaded = !0, (b = window.mod_pagespeed_num_resources_prefetched) && (a += "&nrp=" + b), (b = window.mod_pagespeed_prefetch_start) && (a += "&htmlAt=" + (e - b))); f.criticalCss && (e = f.criticalCss, a += "&ccis=" + e.total_critical_inlined_size + "&cces=" + e.total_original_external_size + "&ccos=" + e.total_overhead_size + "&ccrl=" + e.num_replaced_links + "&ccul=" + e.num_unreplaced_links); a += "&dpr=" + window.devicePixelRatio; "" != c.b && (a += c.b); document.referrer && (a += "&ref=" + encodeURIComponent(document.referrer)); a +=
						"&url=" + encodeURIComponent(c.g); f.beaconUrl = a; (new Image).src = a
			}
		} f.c = function (c, a, e, b) { var d = new h(c, a, e, b); window.addEventListener ? window.addEventListener(a, function () { k(d) }, !1) : window.attachEvent("on" + a, function () { k(d) }) }; f.addInstrumentationInit = f.c;
	})();

	pagespeed.addInstrumentationInit('/ngx_pagespeed_beacon', 'load', '', '/');
</script>
<div class="title-search-result"></div>
<div id="criteo-tags-div" style="display: none;"><iframe src="./new-mob/syncframe.html" id="criteo-syncframe" width="0"
		height="0" frameborder="0" style="border-width:0px; margin:0px; display:none"
		title="Criteo GUM iframe"></iframe></div>
<iframe height="0" width="0" title="Criteo DIS iframe" style="display: none;"
	src="./new-mob/saved_resource.html"></iframe>
</body>

</html>